<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">    
    <label for="email">Mail</label>
            <input 
                type="email" 
                id="email"
                class="form-control" 
                ngModel
                name="email"                    
                required
                email
                #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid value</span>
    </div>
    <div class="form-group">
            <label for="subscription">Subscriptions</label>
            <select 
                id="subscription" 
                name="subscription" 
                class="form-control"
                [ngModel]="defaultSubs">
                <option
                    *ngFor="let s of subcripArray"
                    [value]="s"> {{ s }}
                </option>
            </select> 
        </div>
    <div class="form-group">  
    <label for="password">Password</label>
            <input 
                type="password" 
                id="pass"
                class="form-control" 
                ngModel
                name="pass"      
                required
                #pass ="ngModel">                
                <span class="help-block" *ngIf="!pass.valid && pass.touched">Please enter a valid value</span>
    </div>
<button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
<div *ngIf="showData">
    <h3> Your Data is: </h3>
    <p>Mail: {{ email }} </p>
    <p>Password: {{ pass }}</p>
    <p>Subscription: {{ subs }} </p>    
</div>

